.searchpage_info{
    padding: 20px;
}
.searchpage_info > p{
    margin-bottom: 10px;
    font-size: 14px;
}
.searchpage_info >  button{
    border: 1px solid lightgray;
    z-index: 1000;margin: 5px;
    border-radius: 30px;
}
.searchpage_info > h1{
    margin-bottom: 30px;
}
button{
    border: none;
    padding: 20px;
    position: relative;
    justify-content: center;
    align-items: center;
    margin-left: 40px;
    background-color: lightslategray;
    color: lightyellow;
    font-style: 20px;
    font-weight: 600;
    border-radius: 5px;
    margin-bottom: 10px;
    cursor: pointer;
}